<h2><%= t(".title") %></h2>
<p><%= t(".choose_type") %></p>

<ul>
  <li>
    <%= link_to t(".page"), "#", :title => t(".create_page"),  :onclick => "$('#new_page').toggle()" %>
  </li>
  <li>
    <%= link_to t(".file"), "#", :title => t(".upload_file"),  :onclick => "$('#upload_file').toggle()" %>
  </li>
</ul>
<div id="new_page" style="display:none">
   <%= form_for [:wiki, Page.new] do |f|%>
         <p>
           <%= f.label :title, t("activerecord.attributes.page.title") %>:
           <%= f.text_field :title %>
           <%= f.hidden_field :sid, :value => @new_node %>
           <%= f.hidden_field :parent_id, :value => @parent.id %>
           <%= f.submit t(".create_page") %>
         </p>
      <% end %>
</div>

<div id="upload_file" style="display:none">

  <%= form_for :uploaded_file, :url => wiki_page_files_path(@parent.id)  , :html => {:multipart => true} do |f| %>
      <%= hidden_field_tag('uploaded_file[filename]', @new_node) %>
      <p><label>Upload file<br/><%= f.file_field :file %>
      </label><%= submit_tag t(".upload_file") %></p>
  <% end %>
</div>
