<h2>Page or file you are looking for does not exist</h2>
What do you want to create?

<%= link_to "Page", new_wiki_page_path  %>

<a href="#" onclick="$('#upload_file').toggle()" title="Upload new file">File</a>

<div id="upload_file" style="display:none">

  <%= form_for :uploaded_file, :url => wiki_page_files_path(@page.id)  , :html => {:multipart => true} do |f| %>
      <%= hidden_field_tag('uploaded_file[filename]', @new_node) %>
      <p><label>Upload file<br/><%= f.file_field :file %>
      </label><%= submit_tag "SAVE" %></p>
  <% end %>
</div>
