<div id="toolbar">
  <% if @page %>
      <div class="actions">
        <% if current_user.can_watch? %><%= render :partial => 'wiki/subscription' %><% end %>
        <% if current_user.can_edit?(@page) %><span class="button action edit"><%= link_to "Edit", edit_wiki_page_path(@page) %></span><% end %>
        <span class="button action history"><%= link_to "History", history_wiki_page_path(@page) %></span>
        <span class="button"><%= link_to icon_tag(:rss, :alt => "RSS", :title => "RSS feed"), rss_wiki_page_path(@page) %></span>
      </div>
  <% end %>
  <div class="userbox">
    <% if current_user.logged_in? -%>
        <%= link_to_unless_current "Dashboard", wiki_dashboard_path %> <span class="divider">|</span> <%= current_user.full_name %> <span class="divider">|</span> <%= link_to "Log out", wiki_session_path, :method => :delete %>
    <% else -%>
        <%= link_to_function t('views.toolbar.login_button'), "$(this).hide(); $('.loginbox').show(); $('.loginbox #username').focus();" %>
        <div class="loginbox" style="display: none;">
          <%= form_tag wiki_session_path do %>
              <%= label_tag :username, t("views.toolbar.user_name") %> <%= text_field_tag :username %>
              <%= label_tag :password, t("views.toolbar.password") %> <%= password_field_tag :password %>
              <%= submit_tag t("views.toolbar.login_button"), :class => "submit" %>
          <% end %>
        </div>
    <% end %> <span class="divider">|</span>
    <%= form_tag search_wiki_pages_path, :method => :get, :class => :search do -%>
        <p><%= text_field_tag :q %><%= submit_tag "Search", :name => nil, :class => :submit %></p>
    <% end %>
  </div>
</div>