<div id="bonsai-main">
  <%= semantic_form_for @page do |form| %>
      <%= form.inputs :title, :layout, :ordering %>
      <%= form.buttons %>
  <% end %>
  <%= select_tag :layout, options_for_select(@user_layouts, @layout.to_s) %>
</div>
<div id="bonsai-sidebar">
  <div id="files">
    <h2>Files</h2>
    <%= render :partial => 'wiki/files/list' %>
    <%= form_for UploadedFile.new, :url => wiki_page_files_path(@page), :multipart => true, :class => :uploader do |form| %>
        <p>Upload a <%= link_to "new file", nil, :class => :uploader %>.</p>
        <%= form.file_field :file %><%= form.submit %>
    <% end  %>
  </div>
</div>