<h1>History for file <%= @file.filename %></h1>
<table>
  <thead>
  <tr>
    <th></th>
    <th>Uploaded at</th>
    <th>Uploader</th>
    <th>Size</th>
  </tr>
  </thead>
  <tbody>
  <% @versions.each do |version| %>
      <tr>
        <td><%= link_to "Version #{version.version}", file_path(version.file, :version => version.version) %></td>
        <td><%= format_datetime(version.created_at) %></td>
        <td><%= version.uploader.full_name %></td>
        <td><%= number_to_human_size(version.size) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @versions %>
