    <%= render :partial => 'shared/header' %>
    <%= render :partial => 'shared/notice' %>
    <%= render :partial => 'shared/breadcrumbs', :object => @page %>
    <% cache(@page.id) do %>
        <div class="wrapper">
          <div class="holder">
            <%= yield %>
          </div>
        </div>
    <% end %>
    <%= render :partial => 'shared/footer' %>
